@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
<!-- General Information -->
<h1>Preferred Name: Trevor Lawson</h1>
<br />
<br />
<h3>Something I enjoy is boating!</h3>
<img src="~/img/surfing.jpg" style="width:600px;height:600px;" />
<br />
<br />
<p>
    Something I hope to get out of this IS 413 class is a better understanding of MVC and why it is used.
    Overall, I feel like I am comfortable learning new programming languages. This will be the third language I have learned,
    and the process is very similar. However, I feel like I have never fully understood the MVC model and how it works.
    That, along with a refresher on javascript, is what will mean the most to me this year.
</p>
<p>
    P.S. Also, a better understanding of Visual Studio! I love working in Visual Studio Code, but it seems like Visual Studio
    has so many unique features to make coding much quicker.
</p>
<br />
<br />
<h3>My top three jobs:</h3>
<ol>
    <li>Management (like a CIO position at a company I love)</li>
    <li>Software Developer</li>
    <li>Cybersecurity</li>
</ol>
